{% extends "base.html" %}

{% block content %}
        <h1 class="my-5"> These are all notes:</h1>
        <div class="container">
        <div class="row row-cols3 g-2">
            {% for note in notes%}
            <div class="col">
                <div class="border border-primary">
                    <h3>{{note.title}}</h3>
                   <h5> {{note.text | truncaterchars:10}} </h5>
                </div>
                <a href="{% url 'notes.new' %}" class="btn btn-primary">ADD</a>
            </div>
            {% endfor %}
        </div>
        </div>
{% endblock %}